@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');


* {
	box-sizing: border-box;
	margin: 0;
	padding: 1px;
}

body {
	background-image: url('/images/bgimage.jpg');
	background-size: cover;
	font-family: 'Bahnschrift', sans-serif;
	font-size: 16px;
	margin: 20px;
}


ul {
	list-style: none;
}

a {
	text-decoration: none;
}

.btn {
	cursor: pointer;
	padding: 5px 15px;
	background-color: #777;
	color: white;
	border: 10px;
	border-radius: 15px;
	font-size: 10px;
	font-family: 'Bahnschrift', sans-serif;
}

/* Chat Page */

.chat-container {

	max-width: 450px;
	background: transparent;
	margin: 30px auto;
	overflow: hidden;
	position: relative;
	float: left;
}

.chat-header {
	background: transparent;
	color: white;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding: 15px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.chat-main {
	display: grid;
	grid-template-columns: 1fr 3fr;
}

.chat-sidebar {
	background: transparent;
	color: whitesmoke;
	padding: 20px 20px 60px;
	overflow-y: hidden;
}

.chat-sidebar h2 {
	font-size: 20px;
	background: rgba(0, 0, 0, 0.1);
	padding: 10px;
	margin-bottom: 20px;
}

.chat-sidebar h3 {
	margin-bottom: 15px;
}

.chat-sidebar ul li {
	padding: 10px 0;
}

.chat-messages {
    height: 500px;
    background: rgba(255, 255, 255, 0.5);
    overflow-y: auto;
    padding: 10px;
    border-radius: 15px;
  }
  

.chat-messages .message {
	padding: 10px;
	margin-bottom: 15px;
	border-radius: 15px;
}

.chat-messages .message .meta {
	font-size: 18px;
	font-weight: bold;
	color: brown;
	opacity: 0.7;
	margin-bottom: 7px;
}

.chat-messages .message .meta span {
	color: #777;
}

.chat-form-container {
	padding: 20px 150px;
}

.chat-form-container form {
	display: flex;
}

.chat-form-container input[type='text'] {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	flex: 1;
	border: 0;
	border-radius: 15px;
}

/* Join Page */
.join-container {
	max-width: 400px;
	margin: 15px auto;
	color: #fff;
}

.join-header {
	text-align: center;
	font-size: 35px;
	padding: 20px;
	background: var(--dark-color-a);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.join-main {
	padding: 30px 40px;
	background: var(--dark-color-b);
}

.join-main p {
	margin-bottom: 20px;
}

.join-main .form-control {
	margin-bottom: 20px;
}

.join-main label {
	display: block;
	margin-bottom: 5px;
}

.join-main input[type='text'] {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	width: 100%;
}

.join-main select {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	width: 100%;
}

.join-main .btn {
	margin-top: 20px;
	width: 100%;
}

@media (max-width: 700px) {
	.chat-main {
		display: block;
	}

	.chat-sidebar {
		display: none;
	}
}